
<%- include('a-header'); -%>

<% if(error == "" || error == null){%>

  <% }else{ %>
  <span class="error">
    <p><%=error%></p> <i id="removeFlash" class="bi bi-x-lg"></i>
  </span>
<% } %>

<% if(info == "" ||info == null){%>

  <% }else{%>
  <span class="info">
    <p><%=info%> </p> <i id="removeFlash" class="bi bi-x-lg"></i>
  </span>
<%}%>
<div class="body-con" style='flex-direction:column;'>
    <div  class="user-wrapper">
        <div class="list-header"><h2>Course Lists</h2> <strong id="add-btn"> Add New One <i class="bi bi-plus-square"></i></strong> </div>
        <% course.forEach(function(course){ %>
          <div class="user-card " style="background:#ffb644;" onMouseOver="this.style.background='#ec639f'"  onMouseOut="this.style.background='#ffb644'">
            <a href="/admin/course/<%=course._id%>"><%=course.name%></a> <span class=""><a href="/delete/admin/<%=course._id%>"><i class="bi bi-trash-fill"></i></a>
              <a href="/admin/edit/book/<%=course._id%>" > <i id="edit-cousre" class="bi bi-pencil"></i></a>
              <a href=""><i class="bi bi-eye"></i></a>
              
          </span>
          </div>
        
          <% console.log(course._id)%>
      <%  }) %>
        
        

    </div>
    <div class="add-form">
      <form action="/admin/create/course" method="post">
        <h2>Create New Course</h2>
          <input type="text" name="name" id=""  placeholder="Enter Name " required>
          <input type="text" name="tags" id="" placeholder="Enter tag name" required>
         <textarea style="height: 100px;" name="discription" id="" cols="30" rows="10" placeholder="Enter description ..." required></textarea>
          <span><button type="submit">Create</button> <span id='btn-cancel'style="background:transparent;color:#40348f; cursor: pointer;">Cancel</span></span>
      </form>
  </div>
    </div>
</div>

<%- include('a-footer'); -%>
