<%- include('a-header'); -%>

<% if(error == "" || error == null ){%>

  <%}else{%>
    <span class="error">
      <p><%=error%></p> <i id="removeFlash" class="bi bi-x-lg"></i>
    </span>
  <%}%>
  <% if(info == "" ||info == null){%>
      
     
    <% }else{%>
      <span class="info">
          <p><%= info%> </p> <i   id="removeFlash" class="bi bi-x-lg"></i>
        </span>
      
  <%} %>
 <div class="body-con">
    <div class="boxes">
        <div class="child-box"> 
            <h3 >Users</h3>
            <h4><%=uc%></h4>
          <a href="/user/admin"> <i class="bi bi-arrow-right-square-fill"></i></a>
       </div>
       <div class="child-box"> 
        <h3 >Courses</h3>
        <h4><%=cc%></h4>
      <a href="/course/list/admin"> <i class="bi bi-arrow-right-square-fill"></i></a>
   </div>
   <div class="child-box"> 
    <h3 >Comment</h3>
    <h4><%=coc%></h4>
  <a href=""> <i class="bi bi-arrow-right-square-fill"></i></a>
</div>
        
    </div>
    <div class="contact">
            <h3>Contact form</h3>
            <div class="list-form">
            <%  contect.forEach(function(cont){%>
              <div class="form-fill">
                <h4 style="color:#ec639f;" ><%=cont.name%></h4>
                <p><%=cont.message.substring(0, 30)%></p>
            </div>
             <% })%>
               
                
            </div>
    </div>
  
</div>
</div>

</div>
<%- include('a-footer'); -%>