<%- include('a-header'); -%>
<% if(error == "" || error == null ){%>

  <%}else{%>
    <span class="error">
      <p><%=error%></p> <i id="removeFlash" class="bi bi-x-lg"></i>
    </span>
  <%}%>
  <% if(info == "" ||info == null){%>
      
     
    <% }else{%>
      <span class="info">
          <p><%= info%> </p> <i   id="removeFlash" class="bi bi-x-lg"></i>
        </span>
      
  <%} %>
<div class="body-con" style='flex-direction:column;'>
    <div  class="user-wrapper">
        <h2>User Lists</h2>

<% if(users == null || users.length == 0){ %>
  <h3>Please contact to Mr. Tushar for more information</h3>
<% }else{ %>
  <% users.forEach(function(user){ %>
    <div class="user-card ">
      <a href=""><%=user.name%></a> <span class=""><a href="/admin/users/delete/<%=user._id%>"><i class="bi bi-trash-fill"></i></a>
        <a href="/admin/user/edit/<%=user._id%>"><i class="bi bi-pencil"></i></a>
        <a href=""><i class="bi bi-eye"></i></a>
        <a href=""><i class="bi bi-envelope"></i></a>
    </span>
    </div>
    <%})%>
<% } %>
        
        

    </div>
    </div>
</div>

<%- include('a-footer'); -%>
