<%- include('a-header'); -%>

<div class="body-con" style='flex-direction:column; background:#6b5fb6'>
    <div  class="user-wrapper">
     
    <form class="hstform" action="/admin/hst/<%=action%><%=hst._id%>" method="post">
        <h3 style="color:#fff;">Filling all fields</h3>
    <input type="text" name="title" id="" placeholder="Enter Title"  value="<%=hst.title%>">
    <input type="text" name="videoUrl" id="" placeholder="Enter Youtube URL" value="<%=hst.videourl%>">
    <input type="text" name="discription" id="" placeholder="Enter Description" value="<%=hst.discription%>">
    <button type="submit">Save</button>
    </form>
</div>
</div>




<%- include('a-footer'); -%>