<%- include('a-header'); -%> <% if(error == "" || error == null ){%> <%}else{%>
    <span class="error">
      <p><%=error%></p>
      <i id="removeFlash" class="bi bi-x-lg"></i>
    </span>
    <%}%> <% if(info == "" ||info == null){%> <% }else{%>
    <span class="info">
      <p><%= info%></p>
      <i id="removeFlash" class="bi bi-x-lg"></i>
    </span>
    
    <%} %>
    <div class="body-con" style="flex-direction: column ;background:#6b5fb6 ;"  >
      <div  class="user-wrapper">
     
        <form class="hstform" action="/admin/contact/reply/<%=userData._id%>" method="post">
            <h3 style="color:#fff;">Give Reply</h3>
            <input style="border-radius:none;" type="text" name="name" id="" value="<%=userData.name%>"  >
        <input style="border-radius:none;" type="email" name="email" id="" value="<%=userData.email%>"  >
        <textarea class="textareaReply" type="text" name="message" id="" placeholder="Enter Email Message Here" value=""></textarea>
        
        <button type="submit">Save</button>
        </form>
    </div>
  

    </div>

    <%- include('a-footer'); -%>