<%- include('header'); -%>

<div class="container-7">
    <div class="index-toggal" id='index-come'style='position:fixed; top:60px; left:0px;'> <i class="fas fa-bars"></i></div>
    <div class="index-toggal" id="index-back"> <i class="fas fa-arrow-circle-left"></i></div>
       <div class="sec-1">
           <div class="course-index">
               <h2><%= course.name %></h2>
             <% articles.forEach(function(articles) { %>
                <a class="course-link" href="/<%= course.slugCourse%>/<%= articles.slugtitle%>"  > <%= articles.title %></a> 

             <% }) %>
           </div>
       </div>
       <div class="sec-2">
           <h1><%= article.title %></h1>
          
           <span> <i class="fas fa-user"></i> <%= admin.name
            %><i class="far fa-clock"></i> <%= article.date%></span>
           <p><%- article.content %></p>
           <div class="next">
               <% if(previous == undefined) { %>
             No pevious Page
          <%  }else{ %>
                 <a href="/<%= course.slugCourse%>/<%= previous.slugtitle%>" class="pre">Prevese</a>
           <% } %>
                
                <!-- <span style="color: black"><i class="fas fa-thumbs-up fa-2x"  style="color: black"> <i style="color: black" class="fas fa-thumbs-down"></i></i></span>  -->
                <% if(next == undefined) { %>
                    <a href="/<%= course.slugCourse%>" class="nex">No Next Page</a></div> 
                 <%  }else{ %>
                    <a href="/<%= course.slugCourse%>/<%= next.slugtitle%>" class="nex">Next</a></div>
                  <% } %>
                
           <hr>
       </div>
       <div class="sec-3">
          
             <img src="https://th.bing.com/th/id/OIP.bKbJUgqnUtRBUlDxGdd2ngHaJd?pid=ImgDet&rs=1" alt="">
           
       </div>
       
   </div>
  
   <div class="comment-sec">

       <form  class='formPost' >
        <h2>Post a Comment</h2>
           <input type="hidden" name="postId" id="postId" placeholder="Email" value='<%=article._id%>'>
           <input type="hidden" name="adminId" id="adminId" placeholder="Email" value='<%=article.user%>'>
           <%if(locals.session.loggedin){%>
            <input type='hidden' name='username' id='username' value='<%=user.name%>'/>

           <%}else{%>


         <% }%>
           
           <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Type here"></textarea>
           <% if (locals.session.loggedin){ %>
            <button type="submit" id="submitBtn">Submit</button>
          <% }else {  %>
            <button type="button"> <a href="/login/auth-user">Login</a></button>
            
          <%} %>
          
       </form>
       <hr>
       <div class="pushCom">
        <div class="comments" id='pushComments' style="border: none;">
        <% comments.forEach(function(comment){ %>
         <div class="" style="margin: 5px 0; width: 100%; height:auto; border: 1px solid #000; background-color: #fff;">
           <h3> <i class='fas fa-user'></i><%=comment.name%></h3>
           <p><i class="far fa-clock"></i> <%=comment.createdAt%></p>
           <p><%=comment.comment%></p>
           <% if(username === comment.email){ %>
            <div width="100%"> <a style="text-decoration: none; font-weight: bold;position: relative; text-align: end; " href="/comment/delete/<%=comment._id%>">Delete Comment</a>  </div>
          <% } else{ %>

         <% }%>
        

        </div>
         <%})%>
             
        
       </div>
    </div>

   </div>
   <div class="container-8">
    <a href=""> As more..</a>
    <a href=""> As more..</a>
    <a href=""> As more..</a>
    <a href=""> As more..</a>
    <a href=""> As more..</a>
    <a href=""> As more..</a>
    <a href=""> As more..</a>
    <a href=""> As more..</a>
    <a href=""> As more..</a>
    <a href=""> As more..</a>
</div>


<%- include('footer'); -%>