<%- include('header'); -%>

<%- include('hstnav'); -%>

<div class="hstalk">
    <div class="CheckUser"><i id="hideLogin" class="fas fa-times "></i>
        <p>🙂</p><a   href="/login/user-auth">Login Please !</a></div>
  <% hst.forEach(function(hst){ %>
    <div class="hsbox">
        <div class="postbyt">
         <img width="50px" src="/image/mic.png" alt=""> <p>Tushar Kumar</p> 

        </div>
        <div class="hstitle">
            <p><%=hst.title%> </p>
        </div>
        <div class="videohs">
         <iframe  id="player" type="text/html"  src="<%=hst.videoUrl%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; c encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="hsviews">
            <p> <i class="bi bi-calendar3"></i> <%=moment(hst.createdAt).fromNow()%><i class="bi bi-eye"></i>  55K</p>
        </div>
        <div class="likehs">
            <% if (locals.session.loggedin){ %>
                <span  data-liked='<%=hst._id%>' class="liked-btn"><i  class="bi bi-hand-thumbs-up"></i> <p  id="like-count" >0</p></span>
                <% }else{ %>
                    <span class="showLogin"><i liked_value class="bi bi-hand-thumbs-up"></i></span>
                    <% } %>
                    <% if (locals.session.loggedin){ %>
                        <span data-liked='<%=hst._id%>'  class="disliked-btn"><i  class="bi bi-hand-thumbs-down"></i></span>
                        <% }else{ %>
                            <span class="showLogin"><i  class="bi bi-hand-thumbs-down"></i></span>
                            <% } %>  
            <span><i class="fa-solid fa-share">1k</i></span>
        </div>
    </div>
  <% }) %> 
 </div>
</div>
<script type="text/javascript">
//play when video is visible
var videos = document.getElementsByTagName("iframe"), fraction = 0.8;

function checkScroll() {

for(var i = 0; i < videos.length; i++) {
var video = videos[i];

var x = 0,
y = 0,
w = video.width,
h = video.height,
r, //right
b, //bottom 
visibleX, visibleY, visible,
parent;


parent = video;
while (parent && parent !== document.body) {
x += parent.offsetLeft;
y += parent.offsetTop;
parent = parent.offsetParent;
}

r = x + parseInt(w);
b = y + parseInt(h);


visibleX = Math.max(0, Math.min(w, window.pageXOffset + window.innerWidth - x, r - window.pageXOffset));
visibleY = Math.max(0, Math.min(h, window.pageYOffset + window.innerHeight - y, b - window.pageYOffset));


visible = visibleX * visibleY / (w * h);


if (visible > fraction) {
playVideo();
} else {
pauseVideo();

}
}

};


var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

// 3. This function creates an <iframe> (and YouTube player)
//    after the API code downloads.
var player;

function onYouTubeIframeAPIReady() {
player = new YT.Player('player', {
events: {
'onReady': onPlayerReady,
'onStateChange': onPlayerStateChange
}
});
};

// 4. The API will call this function when the video player is ready.
function onPlayerReady(event) {
window.addEventListener('scroll', checkScroll, false);
window.addEventListener('resize', checkScroll, false);

//check at least once so you don't have to wait for scrolling for the    video to start
window.addEventListener('load', checkScroll, false);
};


function onPlayerStateChange(event) {
if (event.data == YT.PlayerState.PLAYING) {
//console.log("event played");
} else {
//console.log("event paused");
}
};

function stopVideo() {
player.stopVideo();
};

function playVideo() {
player.playVideo();
};

function pauseVideo() {
player.pauseVideo();
};


</script>
<script type="text/javascript">
const liked_btn = document.querySelectorAll('.liked-btn');
const disliked_btn = document.querySelectorAll('.disliked-btn');
const CheckUser = document.querySelector('.CheckUser');
const showLogin = document.querySelectorAll('.showLogin');
const hideLogin = document.querySelector('#hideLogin');
const like_count = document.querySelector('#like_count')
showLogin.forEach((show)=>{
    show.addEventListener('click',()=>{
    CheckUser.style.display = 'flex' ;
})

})
hideLogin.addEventListener('click',()=>{
    CheckUser.style.display = 'none';
})
liked_btn.forEach((like) => {
    like.classList.add('onLiked')
    like.addEventListener('click',(e)=>{
        let data = like.dataset.liked
        
        console.log(data)
        axios.post('/update/'+ data+'/likes',{postId : data}).then(res =>{
        console.log(res)
    })
 
})
})
disliked_btn.forEach((like) => {
    like.addEventListener('click',(e)=>{
        let data = like.dataset.liked
        console.log(data)
        axios.post('/update/'+ data+'/dislikes',{postId : data}).then(res =>{
        console.log(res)
    })
    
})
})
</script>
<script>
    liked_btn.forEach((like)=>{
    like.addEvenetListner('click',()=>{
        console.log('here')
        
    })
})
 </script>
<%- include('footer'); -%>