
<%- include('header'); -%>
<%- include('hsNav'); -%>

<% if(error == "" || error == null ){%>

    <%}else{%>
      <span class="error">
        <p><%=error%></p> <i id="removeFlash" class="fas fa-times"></i>
      </span>
    <%}%>
    <% if(info == "" ||info == null){%>
        
       
      <% }else{%>
        <span class="info">
            <p><%= info%> </p> <i   id="removeFlash" class="fas fa-times"></i>
          </span>
        
    <%} %>
    <div class="userprofile">
      <div class="userdetailes">
          <div class="userimg">
              <img src="https://www.sharekhan.com/MediaGalary/image/Newtomarke_offerings_Tools_skdesktopwebsite-201912261440309190919.jpg" alt="">
              <i id="showf" style="cursor: pointer" class="far fa-edit"></i>
              <div id="uiChange">
                <img src="" alt="Prevre" id="preview">
                <label for="preview">Preview</label>
                  <form id="" action="/edit/user/img/">
                    <input type="file" name="" id="chooseimg" accept="image/*" hidden>
                  <span><span style="color:#fff;background:coral; padding: 5px;cursor: pointer;" id="selectimg" >Select</span> <button type="submit">Save</button> <span style="cursor:pointer; background:#fff; color:#000; padding: 5px; border:1px solid #000;" id="hideThis">Cancel</span></span>  
                </form>
                
                
                
              </div>
             
          </div>
          <div class="userd">
           <form id="udChange" action="/user/profile/edit/<%=user._id%>" method="post">
               <h3>Change your details</h3>
               <input type="text" name="name" id="" value="<%=user.name%>" >
               <input type="text" name="username" id="" value="<%=user.username%>" >
               <input type="text" name="type" id="" value="<%=user.type%>" >
             <span><button type="submit">Save</button> <tag style="cursor: pointer" id="hided">cancel</tag></span>  
           </form>
              <ul>
                  <li><i id="showd" style="cursor: pointer" class="far fa-edit"></i></li>
                  <li>
                      <h3><%=user.name%></h3>
                  </li>
                  <li><%=user.username%></li>
                  <li><%=user.type%></li>
              </ul>
          </div>
      </div><div class="userposts">
          <div class="text-tite">
              <h3>Your posts</h3>
          </div>
        <%   if(news == "" || news == null){ %>
            <h3>There is no any posts </h3>
         <%  }else{ %>
      <% news.forEach(function(news){ %>
  <div class="userp">
    <img src=" data:image/<%=news.image.contentType%>;base64,<%=news.image.data.toString('base64')%> " alt="">
    <p><%=news.title%></p>
    <% if(news.type === "public") {  %>
      <p style="color: green">Public</p>
    <% }else{ %>
      <p style="color: red">Draft</p>
    <% } %>
    <span style="display:flex; justify-content:center;"> <p><i class="bi bi-eye"></i> <%=news.views%></p></span>
    <span>
     <a href="/news/edit/hs/<%=news._id%>"><i class="bi bi-pencil"></i></a>
     <a href="/news/<%=news.slugTitle%>"><i class="bi bi-eye"></i></a><a href="/news/post/delete/<%=news._id%>"><i class="bi bi-trash-fill"></i></a>  
 </span>
</div>
<% }) %>
          <% }  %>
         

      </div>
  </div>
  <script type="text/javascript">
const inputimg = document.getElementById("chooseimg");
const selectimg = document.getElementById("selectimg");
selectimg.addEventListener("click",()=> inputimg.click())
  </script>
<%- include('footer'); -%>